<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <p>
        <form action="/administrator/ban">
            <span>请输入要封禁人的id</span>
            <input type="number" name="userId"><button type="submit">封禁</button>
        </form>
    </p>
    <p>
        <form action="/administrator/unblock">
            <span>请输入要解封人的id</span>
            <input type="number" name="userId"><button type="submit">解封</button>
        </form>
    </p>
    <p>
        <form action="/administrator/warrant">
            <span>请输入要给哪个id授予管理员权限</span>
            <input type="number" name="userId"><button type="submit">解封</button>
        </form>
    </p>
</div>
</body>
</html>